*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.section-title{
    position: relative;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-title::after{
    content: '';
    position: absolute;
    width: 56px;
    height: .18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
    margin-top: var(--mb-6);
}

