:root{

        --dark-x: #1e2126;

}

body {

    background-color: lightblue;
}



.seccion_login{

    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: black;
}

.bg-color { background-color:whitesmoke !important;}


.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.image-p {

    height: 50px;
    width: 50px;
}

.img-1{
    background-image: url('../images/fruta.jpg');
    background-size: cover;
    background-position: center;
}