#page-container {
  position: relative !important;
  min-height: 100vh !important;
}


#content-wrap {
  padding-bottom: 2.5rem !important;    /* Footer height */
}

#footer {

  bottom: 0 !important;
  width: 100% !important;
}