{% extends 'base.html' %}
{% load static %}

 {% block cabecera %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> 
{% endblock %}
{% block contenido %}
<container class="container-fluid">
    <div class="row justify-content-center m-0">
        <div class="col-10">
            <div class="m-5">
                <h2 class="section-title mt-lg-2 d-flex justify-content-center"><strong>Sobre nosotros</strong></h2>
                    <br>
                    <div class="container" style="background-color:#ffe8d9; border-color:orange; border-radius: 20px;">
                    <br>
                    <h3>¿Quiénes somos?</h3>
                    <br>
                    <p>
                        Citra es una servicio web que surge tras la situación de alarma generada por el virus COVID-19 que ha puesto contra 
                        las cuerdas a miles de negocios locales, llegando incluso al cierre de gran parte de ellos.
                        Esto se debe en gran medida a las facilidades que tiene todo el mundo actualmente para hacer compras de cualquier tipo a través
                        de internet, dejando cada vez más de lado a los negocios pequeños que no han conseguido adaptarse.
                        Actualmente, las formas que tienen las pequeñas empresas de llegar al gran público de internet se resume a la creación de páginas 
                        web, a menudo tediosas de desarrollar o demasiado caras, pero nosotros traemos la solución a ésto.

                    </p>
                    <p>
                        Gracias a ser un portal destinado a muchas tiendas, conseguimos por un lado reducir todo el coste de creación y mantenimiento
                        de la página web, convirtiéndolo así en un producto al alcance de todos. Por otro lado, no habrá necesidad de buscar cada día nuevos clientes
                        por internet gracias a la comunidad de personas que usarán la aplicación para encontrar todo lo que necesiten.
                    </p>
                    <p>
                    Citra también se preocupa mucho por los usuarios que van a hacer uso de la aplicación para buscar tiendas cercanas, ya que sin ellos,
                    no conseguiríamos nada. Por eso ofrecemos una gran parte social, que fomenta al diálogo entre los distintos compradores a través de un foro
                    y a dar sus opiniones sobre los productos que han comprado en cada tienda, ayudando así a futuros compradores.
                    </p>     
                    <p>
                    Además, todo esto está respaldado por un sistema sencillo pero eficaz de reportes, dando seguridad tanto a las tiendas como a los clientes,
                    a la vez que crea una comunidad sana.
                    </p>  
                    <br>
                    </div> 
                    <br>  

                    <div class="container" style="background-color:#ffe8d9; border-color:orange; border-radius: 20px;">
                    <br>
                    <h3>¿Por qué "Citra"?</h3>
                    <br>
                    <p>
                        Nuestro nombre, no está elegido de forma aleatoria, ya que quisimos que representase lo máximo posible a la idea detrás de la página.
                        Por un lado, queríamos representar la cercanía que ofrecen a los clientes los negocios a los que está destinado el servicio, por eso elegimos
                        una palabra que lo indicase. Por otro lado, al igual que con los negocios, queríamos darle voz a una palabra que hubiese sido olvidada.
                    </p>
                    <p>
                        Teniendo todo esto en mente, no hay mejor palabra que Citra para describirnos, ya que se trata de una palabra que indicaba cercanía y por desgracia, 
                        ha caído en desuso con el paso del tiempo.
                    </p>
                    <br>
                    </div>
                    <br>

                    <img src="{% static 'images/CitraBolsa.png' %}" class="mx-auto d-block" style=" height:50px;"></img>
                    <p class="section-title mt-lg-2 d-flex justify-content-center">Citra, tu barrio a un click</p>
            </div>
        </div>
    </div>
</container>
{% endblock %}