{% extends 'base.html' %}
{% load static %}

{% block cabecera %}<link rel="stylesheet" href="{% static 'css/style_book_list.css' %}"/>{% endblock %}
{% block title %}Mis reservas / Citra{% endblock %}
{% block contenido %}
<main class="l-main">    
    <div class="container">
        <div class="row">
            <h4 class="section-title">Mis reservas</h4>
        </div>
        <div class="row">                            
            <div class="product__container bd-grid">
                {% for book in bookings %}
                <div class="col">
                    <article class="product">
                        <img src="{% static 'images/manzana.jpg' %}" alt ="" class="product__img">
                        <span class="product__name"> {{book.product.shop.name}} </span>
                        <span class="product__price"> {{book.product.price}} </span>
                    </article>
                </div>
                {% empty %}
                <div class="col">
                    <article class="product">
                        <h2 class="section-title">Frutería Paquita</h4>
                        <span class="product__name"> Manzanas 2 €/kg  </span>
                        <span class="product__name"> Naranjas 2 €/kg  </span>
                        <a href="" class="button-light"> Cancelar </a>
                    </article>
                    <article class="product">
                        <h2 class="section-title">Mercería Loli</h4>
                        <span class="product__name"> Tela de flores 2€/m </span>
                        <a href="" class="button-light"> Cancelar </a>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>



{% endblock %}