{% extends 'base.html' %}
{% load static %}

{% block cabecera %}<link rel="stylesheet" href="{% static 'css/style_book_list.css' %}"/>{% endblock %}
{% block title %}Mis reservas / Citra{% endblock %}
{% block contenido %}
<main class="l-main">    
    <div class="container">
        <div class="row">
            <h4 class="section-title mt-lg-2 ">Mis reservas</h4>
        </div>
        <div class="row ms-3">   
        {% for shop, bookingsQuantity in shop_bookings.items %}                         
            <div class="row">
            <h1>{{shop.name}} Total a pagar: {{shop.schedule}} € </h1>
                {% for book, quantity in bookingsQuantity.items %}
                <div class="card col-sm-3 mt-3 mb-3 product">
                    <img src="{{book.product.picture.url}}"  class="img-fluid mt-3" style="max-height:150px;max-width:150px; align-self:center;">
                    <h4 class="card-title" style="text-align:center;">Tienda: {{book.product.shop.name}}</h4>
                    <p class="product__name" style="text-align: center;" > Nombre Producto: <b>{{book.product.name}} </b> </p>
                    <span class="product__price">Precio: {{quantity}} € </span>
                    <span class="product__price">Cantidad Reservada: {{book.quantity}} </span>
                    <span class="product__price">Tienes que recogerlo antes de las: {{book.endDate}} </span>
                </div>
                {% empty %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</main>



{% endblock %}