{% extends 'base.html' %}
{% load static %}



{% block cabecera %}
  <link rel="stylesheet" href="{% static 'css/style_chat.css'%}"/>  
{% endblock %}

{% block title %}
Chat / Citra
{% endblock %}

{% block contenido %}
    <div class="container">
    {% if shop.owner.person.isBanned %}
        <h2>La tienda con la que intentas hablar esta baneada, no te podra contestar hasta que recupere su cuenta</h2>
    {% else %}
        <h2>Pregunta a la tienda!</h2>
    {% endif %}
		
        {% if error %}
            <div class="pb-4 w-100 fw-bold align-self-center ">
                {{error}}
            </div>
        {% endif%}

    {% for m in messages %}

        {% if m.isSentByUser %}
                <div class="container user">
                    <img src="/static/images/user.png"  class="right" style="float:left"> 
                    <p>{{m.text}}</p>
                    <span class="time-right">{{m.date}}</span>                 
                                       
                </div>        
        {% else %}
                <div class="container shop">                    
                    <img src="{{shop.picture.url}}" alt="Avatar" style="float:right">                                           
                    <p style="float:right">{{m.text}}</p>
                    <span class="time-left" style="float:down">{{m.date}}</span>                
                </div>
        {% endif %}
    {% empty %}
        <h3>No hay mensajes</h3>
    {% endfor %}
            <div class="card-footer">
                <div class="input-group">
                <form method='POST' class="input-group">{% csrf_token %}
                    <input type="text" class="form-control form-control-lg"  placeholder="Escribe..." name="text" id="text" />
                    <input type='submit' class="btn btn-outline-dark" style="float:left;background-color: #ffd3b6;">
                </form>
                   <button type="button" class="btn btn-outline-warning"><a style="text-decoration: none;" class="button-light" href="report"> Reportar </a></button>
                </div>
                {% if form.text.errors %}
                    {{ form.text.errors|escape }}
                {% endif%}
            </div>
        </div>
    </div>

 
{% endblock %}
</html>