{% extends 'base.html' %}
{% load static %}

{% block cabecera %}
  <title> Citra / Lista de chats </title>
{% endblock %}

{% block contenido %}


<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Chats</th>
    </tr>
  </thead>
  <tbody>


  {% for row in page_obj %}
    {% if context.1 == 'User' %}
    <tr>
      <th scope="row"></th>
      {% comment %} <td><img src="{% static 'images/manzana.jpg' %}" alt="Avatar" style="float:left">  </td> {% endcomment %}
      <td>{{row.shop.name}}</td>
      <td>{{row.shop.shopType.name}}</td>
      <td><a href= "{% url 'chat' row.id %}">Accede al chat</a></td>
    </tr> 
    {% else %} 
    <tr>
      <th scope="row"></th>
      <td>{{row.shop.name}}</td>
      <td>{{row.user.person.username}}</td>
      <td><a href= "{% url 'chat' row.id %}">Accede al chat</a></td>
    </tr>
    {% endif %}
  {% empty %}
  <tr>
    <th scope="row"></th>
    <td>No hay chats</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<span class="step-links" style="float: right;">
  {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; Primero</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
  {% endif %}

  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
  {% endif %}
</span>

{% endblock %}