{% extends 'base.html' %}
{% load static %}



{% comment %} {% block cabecera %}
  <link rel="stylesheet" href="{% static 'css/style_chat.css'%}"/>  
{% endblock %} {% endcomment %}
{% block cabecera %}
<style>
/* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

 .shop {
    border-color: #dcedc1;
    background-color: #dcedc2;
  }

  .user{
    border-color: #a8e6cf;
    background-color: #a8e6cf;
  }

</style>
{% endblock %}

{% block title %}
Chat / Citra
{% endblock %}

{% block contenido %}
    <div class="container" style="border: 2px solid #ff8b95;
    background-color: #fdf8f5 !important;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-left: auto; margin-right: auto;">
        <h2>Pregunta a la tienda!</h2>
		

    {% for m in messages %}

        {% if m.isSentByUser %}
                <div class="container user">
                    <img src="/static/images/user.png"  class="right" style="float:left"> 
                    <p>{{m.text}}</p>
                    <span class="time-right">{{m.date}}</span>                 
                                       
                </div>        
        {% else %}
                <div class="container shop">                    
                    <img src="{{shop.picture.url}}" alt="Avatar" style="float:right">                                           
                    <p style="float:right">{{m.text}}</p>
                    <span class="time-left" style="float:down">{{m.date}}</span>                
                </div>
        {% endif %}
    {% empty %}
        <h3>No hay mensajes</h3>
    {% endfor %}
            <div class="card-footer">
                <div class="input-group">
                <form method='POST' class="input-group">{% csrf_token %}
                    <input type="text" class="form-control form-control-lg"  placeholder="Escribe..." name="text" id="text" />
                    <input type='submit' class="btn btn-outline-dark" style="float:left;background-color: #ffd3b6;">
                </form>
       
                </div>
            </div>
        </div>
    </div>

 
{% endblock %}
</html>