{% extends 'main/base.html' %}

{% block title %}
Chat / Citra
{% endblock %}

    <h2>Pregunta a la tienda!</h2>
    <div id="chat_section">

    <!--{% if user.is_authenticated %}-->
    <form method="POST">
        <div class="form-group">
        <input  type="submit" value='Enviar'>Haz un comentario</input>
        </div>
    </form>
    <!--{% else %}-->
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Inicia sesión para hacer un comentario!</a><br>
    <!--{% endif %}-->

    <!--{% if ChatMessages %}-->
    <ul>
        <!--{% for text in ChatMessages %}-->
        <li>           
        <div>
            <span>
            <strong class="text-info">{{ message.user }} </strong>
            </span>
            <p>
            </p>
        </div>
        </li>
        <!--{% endfor %}-->
    </ul>
    <!--{% else %}-->
        <strong class="text-secondary">Manda un mensaje</strong>
    <!--{% endif %}-->

    </div>

{% block contenido %}

{% endblock %}