{% load static %}

<!DOCTYPE html>

<html>


<footer class="bg-dark text-center text-white mt-lg-5 page-footer">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Políticas -->
      <a class="btn btn-outline-light btn-floating m-1" href="/privacyPolicy" role="button"
        >Políticas de Privacidad</a>

      <!-- Términos y condiciones -->
      <a class="btn btn-outline-light btn-floating m-1" href="/termsAndConditions" role="button"
        >Términos y Condiciones</a>


      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CitraISPP" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/citraispp/" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Citra
  </div>
  <!-- Copyright -->
</footer>
  
</html>