{% load static %}

<!DOCTYPE html>

<html>

<footer style="background-color: #ffd3b6; position: fixed; bottom: 0; width: 100%; height: 30px; color: #000; text-align:center; align:center;">
  <ul style="position:relative">
    <il style="margin-left: 0px;">Copyright 2021 por Citra</il>
    <il style="margin-left: 15px;">||</il>
    <il style="margin-left: 15px;">
        <a href="#" style="color: #000">Políticas de Privacidad</a>
        ·
        <a href="#" style="color: #000">Cookies</a>
        ·
        <a href="#" style="color: #000">Términos y Condiciones</a>
    </il>
    <il style="margin-left: 15px;">||</il>
    <il style="margin-left: 15px;">Encuéntranos:</il>
    <il style="margin-left: 15px;"><a href="https://twitter.com/CitraISPP"><img src="{% static 'images/twitter.png' %}"  style = "width: 20px; height = 20px;"></a></il>
    <il style="margin-left: 5px;"><a href="https://www.instagram.com/citraispp/"><img src="{% static 'images/insta.png' %}"  style = "width: 25px; height = 25px;"></a></il>

  </ul>
</footer>
</html>