{% load static %}

<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href="{% static 'images/CitraBolsa.png' %}" />
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<style>
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffd3b6;" >
        <div class="container-fluid" style="">
            <a class="navbar-brand" href=""> 
                <img src="{% static 'images/Citra.png' %}" style = "width: 95px; height = 95px; background-color: #ffd3b6; margin-left: 30px;">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align:center; position:static;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin:0 auto;">
                <li class="nav-item" style="margin: auto; font-size:20px;">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    <input type="hidden" id="context"  name="context" value="{{context}}">

                </li>
                <li class="nav-item nav-link" style="margin-left: 25px; font-size:20px; font-weight: bold; text-align:center;">|</li>
                <li class="nav-item" style="margin-left: 25px; font-size:20px;">
                <a class="nav-link" href="./search.html">Buscar</a>
                </li>
                <li class="nav-item nav-link" style="margin-left: 25px; font-size:20px; font-weight: bold; text-align:center;">|</li>
                
                {% if context.1 == 'User' %}
                <li class="nav-item" style="margin-left: 25px; font-size:20px;" name="threads">
                    <a class="nav-link" href="/threads" name="threads">Foro</a>
                </li>
                <li class="nav-item nav-link" style="margin-left: 25px; font-size:20px; font-weight: bold; text-align:center;">|</li>

                {% endif %}
                <li class="nav-item" style="margin-left: 25px; font-size:20px;">
                <a class="nav-link" href="./about.html" >Sobre nosotros</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if context.3 %}

                <div class="dropdown">
                    <a class="btn btn-outline-dark dropdown-toggle me-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>

                    <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="">Perfil</a></li>
                        {% if context.1 == 'User' %}  
                            <li><a class="dropdown-item d-inline-block" onclick="location.href='{% url 'list_booking_user'%}'">Reservas</a></li>
                        {% elif context.1 == 'Owner' %}
                            <li><a class="dropdown-item d-inline-block" onclick="location.href='{% url 'list_booking_owner'%}'">Reservas</a></li>
                        {% endif %}

                        <li><a class="dropdown-item" href="#">Chats</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
                {% else %}
                    <li class="nav-item" style="border: 2px solid rgba(0,0,0,.55); border-radius: 8px; margin-right: 30px;font-size:20px;">
                        <a class="nav-link" href="/login" >Iniciar sesión</a>  
                {% endif %}

                </li>
            </ul>
            </div>
        </div>
    </nav>
</header>
</html>