{% load static %}

<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="shortcut icon" href="{% static 'css/style_header.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style_base.css' %}"/>
</head>
<style>
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffd3b6;" >
        
            <a class="navbar-brand" href="/"> 
                <img src="{% static 'images/Citra.png' %}" style = "width: 95px; height = 95px; background-color: #ffd3b6; margin-left: 30px;">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align:center; position:static;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin:0 auto;">
                <li class="nav-item" style="margin: auto; font-size:20px;">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    <input type="hidden" id="context"  name="context" value="{{context}}">
                </li>
                {% if context.1 != 'Admin' %}  
                <li class="nav-item nav-link" style="margin-left: 25px; font-size:20px; font-weight: bold; text-align:center;">|</li>
                <li class="nav-item" style="margin-left: 25px; font-size:20px;">
                {% comment %} <a class="nav-link" href="#">Buscar</a> {% endcomment %}
                <a class="nav-link" href="{% url 'shops' %}">Listado Tiendas</a>
                </li>
                
                
                {% if context.1 == 'User' %}
                <li class="nav-item" style="margin-left: 25px; font-size:20px;" name="threads">
                    <a class="nav-link" href="/threads" name="threads">Foro</a>
                </li>
                

                {% endif %}
                <li class="nav-item" style="margin-left: 25px; font-size:20px;">
                <a class="nav-link" href="{% url 'about' %}" >Sobre nosotros</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="text-align:center;">
                <li class="nav-item" style="margin-left: 25px; font-size:20px;">
                    <form method="post" action='/search_shop/' class="nav-link" >{% csrf_token %}
                        <div class="p-2 bg-light rounded rounded-pill shadow-sm mb-0">
                            <div class="input-group">
                                <input type="search" aria-describedby="button-addon2" class="form-control border-0 bg-light" name="shop_name" id="shop_name" placeholder="Buscar...">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>   
                </li>     
            </ul>

            <ul class="navbar-nav" style="padding: none;">
                       
                {% if context.3 %}

                <div class="dropdown">
                    <a class="btn btn-outline-dark dropdown-toggle me-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: .5rem;">
                        Perfil
                    </a>

                    <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;" aria-labelledby="dropdownMenuLink">
                        {% comment %} <li><a class="dropdown-item" href="">Perfil</a></li> {% endcomment %}
                        {% if context.1 != 'Admin' %}  
                        {% if context.1 == 'User' %}  
                            <li><a class="dropdown-item d-inline-block" href="{% url 'list_booking_user'%}">Reservas</a></li>
                        {% elif context.1 == 'Owner' %}
                            <li><a class="dropdown-item d-inline-block" href="{% url 'shop' tienda.pk %}">Mi tienda</a></li>
                            <li><a class="dropdown-item d-inline-block" href="{% url 'list_booking_owner'%}">Reservas</a></li>
                        {% endif %}

                        <li><a class="dropdown-item" href="{% url 'chats' %}">Chats</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
                {% else %}
                    <li class="nav-item" style="border: 2px solid rgba(0,0,0,.55); border-radius: 8px; margin-right: 30px;font-size:20px;">
                        <a class="nav-link" href="/login" >Iniciar sesión</a> 
                    </li> 
                {% endif %}

                
            </ul>
            
        
    </nav>
</header>
</html>