{% extends 'base.html' %}
{% load static %}


 {% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/style_shop_promotion.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> 
    <title> Citra / Inicio </title>
{% endblock %}


{% block contenido %}
    <main class="l-main">
    
    {% if context.1 != 'Admin' %}
    <div class="container">
        <div class="row">
            <h4 class="section-title mt-lg-2 ">Tiendas en promoción</h4>
        </div>
        <div class="row ms-3">                            
            <div class="product__container bd-grid">
                <div class="row">        
                {% for promotion, sus in promotions_shops_subscription.items %}
                    {% if sus %}
                    <div class="card col-sm-2 mt-3 product">
                            <img src="{% static 'images/manzana.jpg' %}" alt ="" class="product__img">
                            <a class="product__name" href="{% url 'shop' promotion.shop.pk %}"> {{promotion.shop.name}} </a>
                            <p> <b>{{promotion.shop.description}} </b></p>
                    </div>
                    {% endif %}
                {% empty %}                    
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="section-title mt-lg-4">Productos en promoción</h4>
        </div>
        <div class="row ms-3">                            
            <div class="product__container bd-grid">
                <div class="row">        
                {% for promotion_product, sus  in promotions_products_subscription.items %}
                    {% if sus %}
                    <div class="card col-sm-2 mt-3 product">
                        <img src="{{promotion_product.product.picture.url}}" alt ="" class="product__img">
                        <a class="product__name" href="{% url 'shop' promotion_product.product.shop.pk %}"> {{promotion_product.product.shop.name}} </a>
                        <p class="product__name"> {{promotion_product.product.name}} </p>
                        <p> <b>{{promotion_product.product.description}} </b></p>
                    </div>
                    {% endif %}
                {% empty %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div style="display: flex; justify-content: center; margin-top:10%;">
            <button style="font-color:#000!important;bakcground-color:#ffd3b6!important;border-radius: 15px;" ><a href="/users" style="text-decoration:none;color:#000000;">Gestionar usuarios</a></button>
            <button style="font-color:#000!important;margin-left:90px;border-radius: 15px;" href="/owners"><a href="/owners" style="text-decoration:none;color:#000000">Gestionar los dueños de las tiendas</a></button>
        </div>
    {% endif %}
</main>
{% endblock %}