{% extends 'base.html' %}
{% load static %}

{% block cabecera %}<link rel="stylesheet" href="{% static 'css/style_login.css' %}"/>{% endblock %}
{% block title %}Registro / Citra{% endblock %}
{% block contenido %}

<container class="container-fluid">


{%if editMode%}
<form method="POST">{% csrf_token %}

    <div class="row justify-content-center m-0">
        <div class="col-10">
            <div class="m-5">
                <h1 class="mb-4 fw-bold">Datos del usuario</h1>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST"  action="/updateUser/">{% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca su Nombre" id="name" name="name" maxlength="40" value="{{person.name}}" required>                    
                    </div>
                    <div class="mb-4">
                        <label for="phoneNumber" class="form-label fw-bold">Número de teléfono</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca un Número de 9 dígitos" id="phoneNumber" name="phoneNumber" value="{{person.phoneNumber}}" pattern="^[9|8|7|6]\d{8}$" maxlength="9" required>
                    </div>
                    <div class="mb-4">
                        <label for="zipCode" class="form-label fw-bold">Código postal</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca un código postal de 5 dígitos de Sevilla" id="zipCode" name="zipCode" value="{{person.zipCode}}" pattern="41{1}[0-9]{3}" maxlength="5" max="41999" min="41000" required>
                    </div>
              
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                        <input type="password" class="form-control mb-2 form-control-sm" placeholder="Introduce la contraseña" id="password" name="password" value="{{person.password}}" maxlength="20" required>
                    </div>

                    <div class="row m-0">
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-dark fw-bold w-50" style="margin-right: 10px;">Guardar cambios</button>
                            <a type="submit" href="{% url 'home'%}" class="btn btn-dark fw-bold w-50" type="button">Volver</a>
                        </div>
                    </div>
                    
           
            </div>
        </div>
    </div>

</form>


{%else%}
    <form method="POST">{% csrf_token %}

    <div class="row justify-content-center m-0">
        <div class="col-10">
            <div class="m-5">
                <h1 class="mb-4 fw-bold">Datos del usuario</h1>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca su Nombre" id="name" name="name" maxlength="40" required>                    
                    </div>
                    <div class="mb-4">
                        <label for="phoneNumber" class="form-label fw-bold">Número de teléfono</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca un Número de 9 dígitos" id="phoneNumber" name="phoneNumber" pattern="^[9|8|7|6]\d{8}$" maxlength="9" required>
                    </div>
                    <div class="mb-4">
                        <label for="zipCode" class="form-label fw-bold">Código postal</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca un código postal de 5 dígitos" id="zipCode" name="zipCode" pattern="41{1}[0-9]{3}" maxlength="5" max="41999" min="41000" required>
                    </div>
                    <div class="mb-4">
                        {% if error_log.0 %}
                            <div class="pb-4 w-100 fw-bold align-self-center ">
                                {{error_log.0}}
                            </div>
                        {% endif%}
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control form-control-sm" placeholder="Introduzca su Email" id="email" name="email" maxlength="30" required>
                    </div>
                    <div class="mb-4">
                        {% if error_log.1 %}
                            <div class="pb-4 w-100 fw-bold align-self-center ">
                                {{error_log.1}}
                            </div>
                        {% endif%}
                        <label for="usuario" class="form-label fw-bold">Usuario</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca un nombre de usuario" id="username" name="username" maxlength="20" required>
                    </div>                  
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                        <input type="password" class="form-control mb-2 form-control-sm" placeholder="Introduce la contraseña" id="password" name="password" maxlength="20" required>
                    </div>

                    <div class="mb-4 form-check">
                        <input class="form-check-input" type="checkbox" value="" id="politicaGDPR" required>
                        <label class="form-check-label" for="flexCheckChecked">Acepto la</label>&nbsp<a href="/privacyPolicy" target="_blank">Política de Privacidad</a>
                        <label>y los</label>&nbsp<a href="/termsAndConditions" target="_blank">Términos y Condiciones</a>
                    </div>
                    <div class="row m-0">
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-dark fw-bold w-50">Crear cuenta</button>
                        </div>
                    </div>
                    
           
            </div>
        </div>
    </div>

</form>
{% endif%}
</container>

{% endblock %}
