{% extends 'base.html' %}
{% load static %}
{% block cabecera %}<link rel="stylesheet" href="{% static 'css/style_reviews.css' %}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Valoraciones / Citra</title>
{% endblock %}
{% block contenido %}
<div class="container">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6">
            <div class="well well-sm">        
                <div class="row" id="post-review-box" style="">
                    <div class="col-md-12">
                        <form accept-charset="UTF-8" action="" method="post">{% csrf_token %}
                            <input id="ratings-hidden" name="rating" type="hidden">
                            <textarea style = 'font-size:15px;' class="form-control animated" cols="50" id="title" name="title" placeholder="Título" rows="1"></textarea>
                            <textarea style = 'font-size:15px;' class="form-control animated" cols="50" id="description" name="description" placeholder="Deja tu comentario aquí..." rows="5"></textarea>
                            <div>
                                <label style = 'font-size:15px;'>Elige la puntuación:</label>

                                <input type="radio" name="rating" id="rating" value="0"/>
                                <label style = 'font-size:15px;' for="0">0</label>

                                <input type="radio" name="rating" id="rating" value="1"/>
                                <label style = 'font-size:15px;' for="1">1</label>

                                <input type="radio" name="rating" id="rating" value="2"/>
                                <label style = 'font-size:15px;' for="2">2</label>

                                <input type="radio" name="rating" id="rating" value="3"/>
                                <label style = 'font-size:15px;' for="3">3</label>

                                <input type="radio" name="rating" id="rating" value="4"/>
                                <label style = 'font-size:15px;' for="4">4</label>

                                <input type="radio" name="rating" id="rating" value="5"/>
                                <label style = 'font-size:15px;' for="5">5</label>
                            </div>
                            <div class="text-right">
                                <div class="stars starrr" data-rating="0"></div>
                                <a style="text-decoration: none; color:#FFFF"href="../"><button class="btn btn-success btn-lg" type="submit">Publicar</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
		</div>
	</div>
</div>
{% endblock %}