{% extends 'base.html' %}
{% load static %}
{% block cabecera %}<link rel="stylesheet" href="{% static 'css/style_reviews.css' %}"/>
<title>Valoraciones / Citra</title>
{% endblock %}
{% block contenido %}
{% if context.1 == 'User' %}
<div class="" style="margin-left: 45%!important; margin-top: 20px!important"><button class="justify-content-center button-light"><a style="text-decoration: none;" class="button-light" href="new"> Añade un comentario </a></button></div>
{% endif %}
{% for row in page_obj %}
<div class="container mt-5" style="margin-top:2px!important;">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="bg-white comment-section">
                <div class="d-flex flex-row user p-2"><img class="rounded-circle" src="{% static 'images/CitraBolsa.png' %}" width="50">
                    <div class="d-flex flex-column ml-2"><span class="name font-weight-bold" style="margin-left:5px!important;">{{row.user.person.name}}</span>
                    <span>{{row.date|date:'d/m/Y'}}</span>
                    </div>
                </div>
                <div class="mt-2 p-2">
                    <span>{{row.title}}</span>
                    <p class="comment-content">{{row.description}}</p>
                    <span style="position:relative;">Puntuación: {{row.rating}} estrellas</span>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    <div class="row m-0">
    <span class="step-links" style="text-align: center;">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% endif %}
    </span>
        <div class="d-flex justify-content-center mt-3">
          <div class="col-1 d-flex justify-content-center">
            <a role="button" href="../" class="btn btn-dark fw-bold flex-grow-1"> Volver </a>
          </div>
        </div>
      </div>
    <!-- <button style="font-size:13px;"  class="btn"><a style="text-decoration: none; color:#00000" href="../"> Volver </a></button> -->

{% endblock %}