{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/style_shop_promotion.css' %}"/>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<title> Citra / Búsqueda de tiendas </title>
{% endblock %}

{% block contenido %}
<div class="container">
      <div class="row">
        <div class="col-3">
        <h4 class="section-title">Categorías</h4>
          <nav class="nav flex-column">
            {% for st in shopType %}
                <a id="{{st.id}}" class="nav-link" role="button" onclick="ordenar({{st.id}})">{{st.name}}</a>
            {% endfor %}
            <a class="nav-link" role="button" onclick="limpiarFiltro()">Limpiar filtro</a>
          </nav>
        </div>
        <div class="col-9" id="tiendas">          
          <h4 class="section-title"> Tiendas </h4>          
            <div class="product__container bd-grid">
              <div class="row ">
                {% for shop, a in shop_subscription.items %}
                    {% if a %}
                    <div id="{{shop.shopType.id}}" class="card col-sm-3 mt-3 mb-3 product">
                        <img src="{{shop.picture.url}}"  class="img-fluid mt-3" style="max-height:150px;max-width:150px; align-self:center;">
                        <h4 class="card-title" style="text-align:center;">{{shop.name}}</h4>
                        <p> <b> {{shop.description}} </b></p>
                        <a href="{% url 'shop' shop.pk %}" class="btn btn-outline-dark">Entrar</a>
                    </div>
                    {% endif %}
                {% empty %}
                <p>No se han encontrado tiendas que contengan {{shop_name}} nombre</p>
                {% endfor %}
            </div>
            </div>
        </div>
      </div>
  </div>

<script>
    function ordenar(id_shopType) {
        var shops = document.getElementsByClassName('card');
        for (let step = 0; step < shops.length; step++) {
            if (shops[step].id != id_shopType.toString()) {
                shops[step].style.display = "none";
                document.getElementById(id_shopType).style.color = "red";
            }
        }
    }
    function limpiarFiltro() {
        var shops = document.getElementsByClassName('card');
        var shopsType = document.getElementsByClassName('nav-link');
        for (let step = 0; step < shops.length; step++) {
            shops[step].removeAttribute("style");
        }
        for (let step2 = 0; step2 < shopsType.length; step2++) {
            shopsType[step2].removeAttribute("style");
        }
    }
</script>
{% endblock %}