{% extends 'base.html' %}
{% load static %}

{% block title %}Mi tienda / Citra{% endblock %}

{% block contenido %}


<container class="container-fluid">
    <form accept-charset="UTF-8"  method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="row justify-content-center m-0">
        <div class="col-8">
            <div class="m-5">
                <h1 class="mb-4 fw-bold">Datos de la tienda</h1>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca el nombre de la tienda" id="name" name="name" value='{{shop.name}}' maxlength="60" required>
                    </div>
                    <div class="mb-4">
                        <label for="schedule" class="form-label fw-bold">Horario de apertura</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca el horario de la tienda. Ejemplo: De Lunes a Viernes 09:30 a 14:30 / Sabados y Domingos cerrado" id="schedule" name="schedule" maxlength="50" value='{{shop.schedule}}' required>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label fw-bold">Descripción de la tienda</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca la descripción de la tienda" id="description" name="description " value='{{shop.description}}' maxlength="120" required>
                    </div>
                    <div class="mb-4">
                        <label for="address" class="form-label fw-bold">Dirección</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Introduzca la dirección de la tienda" id="address" name="address"  value='{{shop.address}}' maxlength="60" required>
                    </div>
                    <div class="mb-4">
                        <label for="durationBooking" class="form-label fw-bold">Duración de la reserva</label>
                        <input type="number" class="form-control form-control-sm" placeholder="Introduzca la duración máxima de la reserva" id="durationBooking" name="durationBooking" min="1" max="23" value='{{shop.durationBooking}}' required>
                    </div>                  
                    <div class="mb-4">
                        <label for="picture" class="form-label fw-bold me-5">Imagen del fondo</label>
                        <input type="file" id="picture" accept="image/*" name="picture" >
                    </div>
                    {% if msg %}
                    <div class="pb-4 w-100 fw-bold align-self-center ">
                        {{msg}}
                    </div>
                    {% endif%}

                    <div class="row m-0">
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-outline-dark  color-botones-products flex-grow-1 me-2 fw-bold ">Guardar cambios</button>
                            <a href="{% url 'shop' product.shop.pk %}" type="button" class="btn btn-outline-dark flex-grow-1 ms-2 me-2 fw-bold">Cancelar</a>
                            
                        </div>
                    </div>
                    
           
            </div>
        </div>
    </div>

</form>

</container>






{% endblock %}