{% extends 'base.html'%}
{% load static %}


 {% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/style_shop_prueba.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> 
    <title> Citra / Lista de tiendas </title>
{% endblock %}
{% block contenido %}
<body>
    <main class="l-main">
    
    <div class="container">
        <div class="row">
            <h4 class="section-title">Tiendas</h4>
        </div>
        <div class="product__container bd-grid">                            
            <div class="row ">        
                {% for shop, a in shop_subscription.items %}
                    {% if a %}
                    <div class="col-md-4 mt-4">
                        <div class="card profile-card-5 product" >
                            <div class="card-img-block">
                                <img class="card-img-top"  src="{{shop.picture.url}}" alt="Card image cap">
                            </div>
                            <div class="card-body pt-0">
                                <a href="{% url 'shop' shop.pk %}" style="font-size:1rem;" class="card-title">{{shop.name}}</a>
                                <p class="card-text"><b>{{shop.description}}</b></p>
                            </div>
                        </div>
    		        </div>
                    {% endif %}
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}