{% extends 'base.html'%}
{% load static %}


 {% block cabecera %}
    <link rel="stylesheet" href="{% static 'css/style_shop_promotion.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> 
    <title> Citra / Lista de tiendas </title>
{% endblock %}
{% block contenido %}
<body>
    <main class="l-main">
    
    <div class="container">
        <div class="row">
            <h4 class="section-title">Tiendas</h4>
        </div>
        <div class="product__container bd-grid">                            
            <div class="row ">        
                {% for shop, a in shop_subscription.items %}
                    {% if a %}
                    <div class="card col-sm-2 mt-3 product">
                        <img src="{{shop.picture.url}}" alt ="" class="product__img">
                        <a class="product__name" href="{% url 'shop' shop.pk %}"> {{shop.name}} </a>
                        <p class="product__name"> {{shop.description}} </p>
                    </div>
                    {% endif %}
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}