{% extends 'base.html'%}
{% load static %}


 {% block cabecera %}
  <link rel="stylesheet" href="{% static 'css/style_shop.css' %}"/>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> 
{% endblock %}
{% block contenido %}
<main class="l-main">
  
  <div class="container">
      <div class="row">
        <img src="{% static 'images/tienda_tienda.jpg' %}">
      </div>
      <div class="row">
        <div class="col">
        <h4 class="section-title">Categorías</h4>
          <nav class="nav flex-column">
            {% for pt in productType %}
                <a id="{{pt.id}}" class="nav-link" role="button" onclick="ordenar({{pt.id}})">{{pt.name}}</a>
            {% endfor %}
            <a class="nav-link" role="button" onclick="limpiarFiltro()">Limpiar filtro</a>
          </nav>
        </div>
        <div class="col-6">          
          <h4 class="section-title"> Productos </h4>          
            <div class="product__container bd-grid">
              <div class="row">
                {% for prod in products %}
                  <div class="col">
                    <article id="{{prod.productType.id}}" class="product">
                      <img src="{{prod.picture.url}}" alt ="" class="product__img">
                      <a id = "nombre{{prod.id}}" class="product__name" href="{% url 'products' prod.pk %}">{{prod.name}}</a>
                      <p id = "precio{{prod.id}}">{{prod.price}}</p>
                      {% if context.1 == 'User' %}
                        <button id="boton" onclick="añadir({{prod.id}})">Añadir</button>
                      {% endif %}
                    </article>
                  </div>
                {% empty %}
                {% endfor %}
              </div>
            </div>
        </div>

        <div class="col">
          
            <h4 class="section-title">Info</h4>
            <p>Tienda: {{shop.name}}</p>
            <p>Horario: L-S 9:30-20:30</p>
            <p>Dirección: {{shop.address}}</p>

          {% if context.1 == 'Owner' and shop.owner.person.id|stringformat:"i" == context.0 %}
            <a class="nav-link" href="{{shop.id}}/edit" name="Editar tienda">Editar tienda</a>
          {% endif %}

         {% if context.1 == 'User' %}
            <h4 class="section-title">Cesta</h4>
            <table class="table table-hover" id = "table">
              <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
              </tr>
              <tbody id='tbody'></tbody>
            </table>
            <button id="boton2" type="button" class="btn btn-light" onclick="vaciarCarrito()">Vaciar Carrito</button>
            {% csrf_token %}
            <input id="submit" type="button" class="btn btn-light" value="Reservar" onclick="reserva()"/>
            
            <h4 class="section-title">Otras acciones</h4>
            <button type="button" class="btn btn-outline-warning"><a style="text-decoration: none;" class="button-light" href="{{shop.id}}/reviews"> Valoraciones </a></button>
            <button type="button" class="btn btn-outline-warning"><a style="text-decoration: none;" class="button-light" href="{% url 'newChat' shop.pk %}"> Iniciar Chat </a></button>

          {% endif %}
          {% if context.1 == 'Owner' and shop.owner.person.id|stringformat:"i" == context.0 %}
            <h4 class="section-title">Otras acciones</h4>
          {% if subscriptionShop %}
            {% if promotionShop and subscriptionShop %}
              <form id="pagaMens" action= "{% url 'promotion_week_shop' shop.id %}" method="POST">
                {% csrf_token %} 
                
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="separated3"
                data-key="{{ stripe_key }}" data-description="Premium mensual" data-amount="500"
                data-locale="es" data-currency="eur" data-label="Promocionar una semana 5€">
                </script>
              </form>
              <br>
              <form id="pagaMens" action= "{% url 'promotion_month_shop' shop.id %}" method="POST">
                {% csrf_token %} 
              
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="separated3"
                data-key="{{ stripe_key }}" data-description="Premium mensual" data-amount="1000"
                data-locale="es" data-currency="eur" data-label="Promocionar un mes 10€">
                </script>
              </form>
                <br>
            {% endif %}  
          {% else %}
            <form id="activateShop" action= "{% url 'activate_shop' shop.id %}" method="POST">
              {% csrf_token %} 
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="separated3"
              data-key="{{ stripe_key }}" data-description="Darse de alta" data-amount="1000"
              data-locale="es" data-currency="eur" data-label="Darse de alta:10€">
              </script>
            </form>
            <br>
          {% endif %}

            <button type="button" class="btn btn-outline-warning"><a style="text-decoration: none;" class="button-light" href="{% url 'product_create' shop.pk %}"> Añadir Productos </a></button>
          {% endif %}
        </div>
      </div>
  </div>
</main>

 <script>
  function añadir (id) {
    var nombre = document.getElementById('nombre'+id).innerHTML
    var precio = document.getElementById('precio'+id).innerHTML
    var table = document.getElementById('tbody');
    var nombres = []
    for (let i = 0; i < document.getElementsByClassName('nombreProducto').length; i++) {
            nombres.push(document.getElementsByClassName('nombreProducto')[i].innerText)
        }
    if(!nombres.includes(nombre)) {
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = nombre;
        cell1.classList.add('nombreProducto');
        cell1.classList.add('tablacss');
        cell2.innerHTML = precio;
        cell2.setAttribute('id','precioProducto' + id);
        cell3.innerHTML = 1;
        cell3.setAttribute('id','cantidadProducto' + id);
        cell3.classList.add('cantidadProducto');
        cell4.innerHTML = id;
        cell4.setAttribute('id','idProducto' + id);
        cell4.classList.add('idProducto');
        document.getElementById("idProducto" + id).style.display = "none";
    } else {
        document.getElementById('cantidadProducto' + id).innerText = parseInt(document.getElementById('cantidadProducto' + id).innerText) + 1
        document.getElementById('precioProducto' + id).innerText = Number(precio) * Number(document.getElementById('cantidadProducto' + id).innerText)
    }
}

function vaciarCarrito() {
    if (confirm("¿Quieres vaciar el carrito?")) {
        document.getElementById('tbody').remove();
        var table = document.getElementById('table');
        var tbody = document.createElement('tbody');
        tbody.setAttribute('id','tbody')
        table.appendChild(tbody)
    }
}

function reserva() {
    var array = []
    var objeto = {}
    console.log(document.getElementsByClassName('idProducto'))
    console.log(document.getElementsByClassName('cantidadProducto'))
    for (let i = 0; i < document.getElementsByClassName('idProducto').length; i++) {
        objeto.id = parseInt(document.getElementsByClassName('idProducto')[i].innerText)
        objeto.cantidad = parseInt(document.getElementsByClassName('cantidadProducto')[i].innerText)
        array.push(objeto)
        objeto = {}
    }
    data = {
        key_1_string: JSON.stringify(array),
        csrfmiddlewaretoken: '{{ csrf_token }}',
    }
    $.ajax({
        url: 'booking/',
        data: data,
        type: 'POST',
        success: function (data) {
            confirm("Reserva realizada")
            window.location.replace(window.location.origin + data.url);
        }
    });
};

function ordenar(id_productType) {
  var products = document.getElementsByClassName('product');
  for (let step = 0; step < products.length; step++) {
      if (products[step].id != id_productType.toString()) {
          products[step].style.display = "none";
          document.getElementById(id_productType).style.color = "red";
      }
  }
}
function limpiarFiltro() {
  var products = document.getElementsByClassName('product');
  var productsType = document.getElementsByClassName('nav-link');
  for (let step = 0; step < products.length; step++) {
      products[step].removeAttribute("style");
  }
  for (let step2 = 0; step2 < productsType.length; step2++) {
      productsType[step2].removeAttribute("style");
  }
}
</script>

                
{% endblock %}
